body{
	 background-image:linear-gradient(to bottom right,#fbdb89, #f48982,#f38e82);
	 width:1200px;
	 margin:auto;

	 }
.container{
	  width:1000px;
	  height:1000px;
	  background-color:white;
	  margin:auto; 
	  margin-top:10px;  
	  border-radius:10px;
    
       
 }
.header  {
	 width:100%;
	 background-color:lightgray;
	 padding-top:1%;
	 padding-bottom:1%;
	 border-radius:3px;
	
	}
.logo{
	 width:70%;
	 margin-left:20px;
	}
.child1  {
	width:25%;
	float:left;
		  }
.chilld2  {
	 width:44%;
	 float:left;
	 margin-left:20px;

          }
.child3   { 
	  width:13%;
	  float:left;
	  text-align:center;
	  margin-top:6px;
		   }

.child4  { 
	  width:13%;
	  float:left;
	  text-align:center;
	  margin-top:6px;
	 margin-left:5px;
	  }
.search-bar{
	float:left;
	width:35%;
	border-radius: 25px;
	margin-top:5px;
	border:none;
	padding-top:16px;
	padding-bottom:12px;
	padding-left:20px;
	margin-left:9px;
	
	  }
.search-btn{
   padding:10px;
   padding-bottom:14px;	   
   float:left;
   background-image:linear-gradient(to bottom right,#fbdb89, #f48982,#f38e82);
   width:10%;
   border-radius:25px;
   position:relative;
   right:10%;
   top:5px;
   text-transform:uppercase;
   border:none;
   color:white;
   }	   
.clearfix::after{
  content:"";
  clear:both;
  display:table;
	  }
 
.add-recipe  {
	text-transform:uppercase; 
	margin-right:10px;
}
.search-icon{
	width:20%;
	position:relative;
	top:3px;

}
.svg {
   fill:red;
   }
.note-icon{
   width:12%;

	 }
	.bookmark-icon{
	 width:10%;
	 margin-top:3px;
		 }
	.bookmarks{
	  text-transform:uppercase; 
	  margin-right:3px;
	}

	.sub_container
	{
	display:flex;	
	width:100%;
	background:white;

	}
.sidebar{
   width:35%; 
   background:white;
   float:left;
   padding-top:3%;

}

.imgbtn  {
	 text-transform:uppercase; 
	 border:none;
	 font-size:15px;
	 padding:1%;
	 color:gray;
	 background-color:#FFFCFC;



}
 
 button:hover{
    background-color:lightgray;
 }     
   .spanclr{
     color:red;
	 font-size:18px;
	 width:70%;
	 display:block;
	 white-space:nowrap;
	  overflow:hidden;
	 text-overflow:ellipsis;
	 
   }       
.imagepizza{
   float:left;
   width:50px;
   height:50px;
   border-radius:50%;
  margin-left:20px;
  margin-right:15px;
}
.rightbar{
	float:right;
	width:65%;
	
}
.imgsamosa{
	width:100%;
	
}
 .left_bar{
	 width:35%;
	 float:left;
	 position:relative;
	 top:110px;
		  }   
 
 .copyright{
     padding:30px;
  }
 .btnpage5{
   width:30%;
   float:right;
   background-color:#F3F3F3;
   border-radius:37%;
   position:relative;
   right:30px;
   padding:2%;
   border:none;
   color:red;
   font-size:18px;
 
           }  
.btnpage3{
   width:30%;
   float:left;
   background-color:#F3F3F3;
   border-radius:37%;
   position:relative;
   left:30px;
   padding:2%;
   border:none;
   color:red;
   font-size:18px;
   }                               
.arrow{
  width:13px;
}              
.pipperonipizza{


  background-image:linear-gradient(to bottom right, #f48982,#fbdb89,#f48982);
 
  padding:2%;
  width:40%;
  position:relative;
  bottom:126px;
  left:5%;
  transform:skewY(-8deg);
  text-transform:uppercase;
  color:white;
  text-align:center;
  font-size:30px;
  
}                               
.handpies{
 
   
  background-image:linear-gradient(to  bottom right, #f48982,#fbdb89,#f48982);
 
  padding:2%;
  width:30%;
  position:relative;
  bottom:159px;
  left:5%;
  transform:skewY(-8deg);
  text-transform:uppercase;
  color:white;
  text-align:center;
  font-size:30px;
		 
}
.image-transition{
  background-color:#F3F0F0;
}
.cler::after{
	content:"";
	clear:both;
	display:table;
}                             
.time{
	width:100%;
	height:4%;
    float:left;
    background-color:#F3F0F0;
    position:relative;
    bottom:174px;
   
    }

.c1{
   width:20%;
   float:left;
   position:relative;
   right:33%;
   top:5px;
   text-transform:uppercase;
   } 
.d1{
  float:left;
   }
.c2{
	 width:20%;
	 float:left;
	 position:relative;

	 right:60px;
	 bottom:44px;
	 text-transform:uppercase;
}
.d2{
	  float:left;
}
  .c3{
     width:20%;
     float:left;
	 position:relative;
     right:90px;
	 bottom:30px;
     }
   .d3{
	   width:24%;
	   float:left;
	   position:relative;
	   right:65px;
	   bottom:56px;
   }
   .c4{
       
       float:right;
       width:18%;
       margin-top:-30px;
	   
      }
     
  .timericon{
		width:10%;
	   position:relative;
		top:12px;
		left:45px;
  }   
  .peopleicon{
        width:10%;
		position:relative;
		left:200px;
		
		bottom:37px;
            }  
  .minusicon{
      width:16%;
	 
  }
  .plusicon{
      width:16%;
      position:relative;
	  bottom:1px;
  } 
  .note-icn{
	  width:24%;
	 border-radius:50%;
	 position:relative;
	 bottom:58px;
  }
 .head{
	 color:red;
	 text-transform:uppercase;
	 position:relative;
	 right:40px;
 }
 #tick{
		width:7%;
		float:left;
		padding-top:1%;
		margin-right:2px;
    
 }
 .ingradents{
	   background-color:#EEEBEB;
	   float:left;
	   position:relative;
	   bottom:140px;
	   padding-left:50px;
	   padding-right:0px;
 }
.clef:after{
	   content:"";
	   clear:both;
	   display:table;
 }   
 
.ingr1{ 
   width:50%;
   text-decoration:none;
   float:left;
   padding-top:3%;
   
}
.ingr2{ 
   width:50%;
   text-decoration:none;
   float:left;
   bottom:9vh;
  
}
.list-ingridians{
	padding-left:10px;
	position:relative;
	bottom:40px;
}

.list-ingridians ul li{
	list-style:none;
	float:left;
	width:42%;
	padding:8px;
	padding-left:10px;
	}

.head-bottom{
	padding-right:45%;
	text-align:center;
	text-transform:uppercase;
}
.content{
  
	  text-align:center;
	  margin:20px;
            }
.btn-direction{
	  width:20%;
	  padding:2%;
	  background-image:linear-gradient(to bottom right,#fbdb89, #f48982,#f38e82);
	  border-radius:20px;
	  text-transform:uppercase;
	  color:white;
	  margin-bottom:8px;
	  border:none;
}
.cookhead{ 
     width:65%;
	
	float:right;
	 background-color:#F7F3F3;
	 position:relative;
	 bottom:10px;
	top:7px;
	 
}
.middle-content{
	  padding:20px;
}

.head-instructions{
	text-transform:uppercase;
	color:red;
}
.footer{
	  position:relative;
	  bottom:217px;
	  width:100%;
	  
	  }
li{
	list-style:none;
}
ul{
	padding:20px  0px 20px 0px;
}
