body{
    background-color:black;
    font-family: 'Press Start 2P', bold;
    }
.add{
    background-color:white;
    width:16%;
    padding:2%;
    margin:2%;
    font-family: 'Press Start 2P', bold;
    }
 .add1{
 float:right;
 color:white;
 margin:4%;
 }
 .add2{
 margin-top:7%;
 padding:0.4%;
 background-color:white;
 }
  .add3{
    height:70px;
    width:80px;
    background-color:white;
    width:10%;
    margin-top:-6%;
    padding-top:4%;
    font-size:150%;
    padding-bottom:1%;
    margin-left:45%;
    text-align:center;
    font-family: 'Press Start 2P', bold;
    }
 .add4{
 border-color:white;
 background-color:black;
 margin-top:10%;
 margin-left:20%;
 padding:3%;
 color:white;
 font-family: 'Press Start 2P', bold;
 }
  .add5{
 border-color:white;
 background-color:white;
 width:15%;
 padding:1%;
 margin-left:23%;
 font-family: 'Press Start 2P', bold;
 }
 .add6{
     color:white;
     float:right;
     margin-right:20%;
     margin-top:-10%;
     }
  .add7{
     color:white;
     float:right;
     margin-right:25%;
     margin-top:-5%;
     }
   .add8{
     color:white;
     float:right;
     margin-right:23%;
     margin-top:0%;
     }
    
     
    }
    .change{
    margin:auto;
    width:1200px;
    }
   
    .add10{
    margin-top:-2%;
    }
    
