.container{
    width: 1000px;
    margin:auto;
    padding: auto;
 
}
li{
    display:inline;
    list-style: none;
}
li a{
    padding:90px;
    margin-left: 50px;
}
img{
    width: 1000px;
    height: 1000px;
}
#empty-div{
    text-align: center;
}