*{
    box-sizing: border-box;   
}
body{
    background-color:aliceblue;
    box-sizing: border-box;
}
.container{
    background-color:white;
    width: 1000px;
    box-sizing: border-box;
    margin:auto ;
   
}
.flex-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;   
}
.flex-container div{
    margin-top:40px;
}
#challenges{
    margin-right: 20px;
}
.join-btn{
    width:100px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.sidebar{
    display: flex;
    flex-wrap:wrap;
    padding-top: 100px;
}
.heading{
    flex:55%;
}
.heading1{
    font-size: 45px;
}
.empty{
    flex:15%;
}
.right-content-block{
   flex:30%;
   border-radius: 10px;
   background-color: darkgrey;
}
.btn-learnmore{
    width:150px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
h2{
    color:darkgrey
}
.heading-global{
    flex:55%;
    
}
.empty-div{
    flex:45%;
}
.boxes{
    display: flex;
    justify-content: space-between;
}
.flex-boxes{
    width:300px;
   
}
.sub-div{
    width:100%;
    height:50%;
    background-color: darkgrey;
    padding:20px;
    border-radius: 10px;
}
.child-div{
    width:30%;
    height: 30%;
    background-color: white;
    border-radius: 10px;   
}
.rounded-divs{
    display:flex;
}
.round-divs{
    width:50px;
    height: 50px;
    border-radius: 50px;
    background-color: darkgrey;
    margin-left: 5px;
}
.btn-instructions{
    width:100%;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}
.global-youth-environment{
    display:flex;
    flex-wrap:wrap;
    padding-top: 300px;
    justify-content: space-between;
}
.color-div{
    background-color: darkgrey;
    border-radius: 10px;
}
.empty-global{
   width:400px;
}
.btn-earthquiz{
    width:250px;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 18px;
}
.why-join-the-earth-tribe{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 300px;
}
.why-join-div{
    width:300px;
   
}
.why-join-earth-tribe{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
}
.head-div{
 flex:50%;
}
.space-div{
    flex:50%; 
}
.why-join-earth-flex-boxes{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.why-join-flex-boxes{
    width:220px;
    height: 200px;
   
    
    
}
.why-join-sub-div{
    width:100%;
    height: 100%;
    background-color: darkgrey;
    border-radius: 10px;
}
.see-how-others-challenge{
    display: flex;
    flex-wrap:nowrap;
    padding-top: 200px;
}
.firstaid-valentharing{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
}
.space-empty{
    width:450px;
    height:250px;
    background-color: darkgrey;
    border-radius: 10px;

}
.content-div{
    width:450px;
    height:250px; 
}
.content{
    display: flex;
    flex-wrap:nowrap;
    padding-top:100px;
    justify-content: space-between;
}
.black-color-div{
    width:100%;
    height:300px;
    margin-top: 100px;
    background-color: black;
    border-radius: 10px;
}
.heading-color{
    color:white;
    padding:70px;
}
.btn-join-earthtribe{
 padding:10px;
 border-radius: 10px;   
}
.our-partners-heading{
    padding-top: 80px;
}
.our-partners{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 100px;
}
.vacant-div{
    width:220px;
    height:100px;
    border-radius: 10px;
    background-color: darkgrey;
}
.our-partners-remaining{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 200px;

}
.vacant{
    width:150px;
    height:100px;
    background-color: darkgrey;
    border-radius: 10px;
}
.about{
    width:220px;
   
}
.challenges{
    width:220px;
}
.social-media{
    width:100px;
}
.footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 150px;
}
@media(max-width:700px) {
   .container,.flex-container,.sidebar,.boxes,.global-youth-environment,.why-join-the-earth-tribe,.why-join-earth-tribe,.why-join-earth-flex-boxes,.see-how-others-challenge,.firstaid-valentharing,.content,.black-color-div,.our-partners,.our-partners-remaining,.footer{
    flex-direction: column;
   } 
}
p{
    color:dimgray;
    font-size: 18px;
}